<div>
    <table class="table  table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>
                <span>{{col1Title}}&nbsp;</span>
                <span ng-show="itemList.length > 0"> <select ng-model="selected"
                                                           ng-options="i as i.name for i in itemList"></select></span>
                <span class="btn btn-default" ng-show="itemList.length > 0"  ng-click="addExpenseItem()">
                    <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;{{txt.add}}
                </span>
                <span class="btn btn-default" ng-if="hasHidden && !showHidden" ng-click="toggleHidden()">
                   <i class="glyphicon glyphicon-eye-open"></i>
                </span>
                <span class="btn btn-default" ng-if="hasHidden && showHidden" ng-click="toggleHidden()">
                   <i class="glyphicon glyphicon-eye-close"></i>
                </span>
            </th>
            <th class="text-center">{{col2Title}}</th>
            <th class="text-center">{{col3Title}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in rvm.res.expenses | filter:{category: itemType, guest: guest, room: room, name: '!' + txt.breakfastInc}" ng-show="!item.no_display || showHidden">
            <td ng-if="item.name !== txt.cityTax && (item.bill_code !== con.bcPackageItem && item.bill_code !== con.bcKurPackageItem)">
                <span ng-if="!item.edit_name">
                    {{item.name}} ({{item.room}} - {{item.guest}} - {{item.last_updated | date:'shortDate'}})
                </span>
                <span ng-if="item.edit_name">
                    <a href="#" editable-text="item.name" onaftersave="updateExpense(item._id)">{{item.name}}</a>  ({{item.room}} - {{item.guest}})
                </span>
            </td>
            <td ng-if="item.name !== txt.cityTax && (item.bill_code === con.bcPackageItem || item.bill_code === con.bcKurPackageItem)">
                <span ng-if="!item.edit_name">
                    {{item.name}} ({{item.room}} - {{item.guest}})&nbsp;
                    <button class="btn btn-xs" ng-click="credit(item)">{{txt.credit}}</button>&nbsp;
                    <button ng-show="item.credit" class="btn btn-xs" ng-click="reinstate(item)">{{txt.reinstate}}</button>
                </span>
                <span ng-if="item.edit_name">
                    <a href="#" editable-text="item.name" onaftersave="updateExpense(item._id)">{{item.name}}</a>  ({{item.room}} - {{item.guest}})
                </span>
            </td>
            <td ng-if="item.name === txt.cityTax">
                <span ng-if="!item.edit_name">
                    {{item.name}} ({{item.room}} - {{item.guest}})&nbsp;
                    <button class="btn btn-xs" ng-click="noKurtax(item)">{{txt.free}}</button>&nbsp;
                    <button class="btn btn-xs" ng-click="discountKurtax(item)">{{txt.reduction}}</button>&nbsp;
                    <button ng-show="item.price < ktax" class="btn btn-xs" ng-click="fullKurtax(item)">{{txt.fullCityTax}}</button>
                </span>
                <span ng-if="item.edit_name">
                    <a href="#" editable-text="item.name" onaftersave="updateExpense(item._id)">{{item.name}}</a>  ({{item.room}} - {{item.guest}})
                </span>
            </td>
            <td class="text-center">
                <span>
                    <span ng-if="!item.edit_count">{{item.count}}</span>
                    <a ng-if="item.edit_count" href="#" editable-number="item.count" e-min="1"
                       onaftersave="updateExpense(item._id)">{{item.count}}</a>
                </span>
            </td>
            <td class="text-center">
                <span>
                    <span ng-if="item.fix_price">{{item.price | currency}}</span>
                    <a ng-if="!item.fix_price" href="#" editable-text="textPrice['_'+item._id.id]" onaftersave="updateExpense(item._id)">{{item.price | currency}}</a>
                </span>
            </td>
            <td class="text-center">
                <span ng-if="!item.no_delete" class="glyphicon glyphicon-remove" ng-click="removeItem(item._id)"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <span class="text-muted" ng-show="total > 0">
            {{itemType}} Total: {{total | currency}}<br />
        </span>
    </div>
</div>