<div class="panel panel-default">
    <div class="panel-heading">
        {{txt.week_plan_for}} {{dates.weekStart | date:'shortDate'}} {{txt.until}} {{dates.weekEnd | date:'shortDate'}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="btn-group pull-right">
            <button class="btn btn-warning btn-small " type="button" ax-print print-element-id="rm-plan-print">
                {{txt.print}}
            </button>
            <button class="btn btn-success btn-small" type="button" ng-click="newRes()">
                {{txt.newReservation}}
            </button>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary btn-small" ng-model="roomFilter" btn-radio="0">{{txt.all}}</label>
            <label class="btn btn-primary btn-small" ng-model="roomFilter" btn-radio="1">{{txt.single}}</label>
            <label class="btn btn-primary btn-small" ng-model="roomFilter" btn-radio="2">{{txt.double}}</label>
        </div>
        <ax-week-buttons picked-date='theDate'/>
    </div>
    <div class="panel-body">
        <div class="zp-main" id="rm-plan-print">
            <div ng-show="isLoading" ><img src="images/startup.gif" alt="loading..."></div>
            <div ng-show="!isLoading" class="zp-container">
                <table class="table-zp" ng-if="!hasErr">
                    <thead>
                    <tr>
                        <th class="zp-divColor"></th>
                        <th ng-repeat="m in calObj.mHeader track by $index" colspan="{{m.span}}"
                            ng-class-odd="'zp-divColor'"
                            ng-class-even="'zp-endColor'">{{m.text}}
                        </th>
                        <th class="zp-divColor"></th>
                    </tr>
                    <tr class="zp-divColor">
                        <th></th>
                        <th ng-repeat="d in calObj.dow track by $index" class="zpSel"
                            ng-class="{'zp-dayColor': d.isDay, 'zp-weekColor': d.inWk, 'zp-wkDiv': d.isWknd}" cdat="0|{{d.dse}}">{{d.day}}
                        </th>
                        <th></th>
                    </tr>
                    <tr class="zp-divColor no-print">
                        <th>{{txt.calendar}}</th>
                        <th ng-repeat="d in calObj.dow track by $index" class="zpSel"
                            ng-class="{'zp-dayColor': d.isDay, 'zp-weekColor': d.inWk, 'zp-wkDiv': d.isWknd}" cdat="0|{{d.dse}}">{{d.date}}
                        </th>
                        <th>{{txt.calendar}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="no-print" ng-repeat="e in calObj.cEvents">
                        <td class="zp-divColor"></td>
                        <td ng-repeat="i in e.evtItems track by $index" colspan="{{i.span}}"
                            ng-class="{'zp-resColor': i.resCol, 'zp-endColor': i.endCol,'zp-endButt': i.overLapCol,
                    'zp-dayColor': i.dayCol, 'zp-wkDiv': i.isWknd}">
                            <div ng-if="!i.isBlank" ng-click="eClick(i.link)"
                                 tooltip-html-unsafe="{{i.hoverTxt}}" tooltip-popup-delay="1000" class="zpRes">
                                {{i.text}}
                            </div>
                        </td>
                        <td class="zp-divColor"></td>
                    </tr>
                    <tr class="zp-divColor">
                        <td>{{txt.room}}</td>
                        <th ng-repeat="d in calObj.dow track by $index"
                            ng-class="{'zp-dayColor': d.isDay, 'zp-weekColor': d.inWk, 'zp-wkDiv': d.isWknd}" class="center">
                            {{d.date}}
                        </th>
                        <td>{{txt.room}}</td>
                    </tr>
                    <tr ng-repeat="r in calObj.cRooms | filter:roomTypeFilter">
                        <td class="{{r.rclass}}">{{r.room}}</td>
                        <td ng-repeat="i in r.resItems track by $index" colspan="{{i.span}}"
                            ng-class="{'zp-resColor': i.resCol, 'zp-endColor': i.endCol,'zp-endButt': i.overLapCol,
                    'zp-dayColor': i.dayCol, 'zpSel': i.isBlank, 'zp-wkDiv': i.isWknd}" cdat="{{i.room}}|{{i.dse}}">
                            <div ng-if="!i.isBlank" ng-click="rClick(i.link, i.start)"
                                 tooltip-html-unsafe="{{i.hoverTxt}}" tooltip-popup-delay="1000" class="zpRes">
                                {{i.text}}
                            </div>
                        </td>
                        <td class="{{r.rclass}}">{{r.room}}</td>
                    </tr>
                    <tr class="zp-divColor">
                        <th></th>
                        <th ng-repeat="d in calObj.dow track by $index"
                            ng-class="{'zp-dayColor': d.isDay, 'zp-weekColor': d.inWk, 'zp-wkDiv': d.isWknd}" cdat="0|{{d.dse}}">{{d.day}}
                        </th>
                        <th></th>
                    </tr>
                    <tr class="zp-divColor">
                        <td>{{txt.parkPlace}}</td>
                        <th ng-repeat="d in calObj.dow track by $index"
                            ng-class="{'zp-dayColor': d.isDay, 'zp-weekColor': d.inWk, 'zp-wkDiv': d.isWknd}">
                            {{d.date}}
                        </th>
                        <td>{{txt.parkPlace}}</td>
                    </tr>
                    <tr ng-repeat="r in calObj.cResources" class="no-print">
                        <td class="zp-ppColor">{{r.name}}</td>
                        <td ng-repeat="i in r.resItems track by $index" colspan="{{i.span}}"
                            ng-class="{'zp-resColor': i.resCol, 'zp-endColor': i.endCol,'zp-endButt': i.overLapCol, 'zp-dayColor': i.dayCol, 'zp-wkDiv': i.isWknd}">
                            <div ng-if="!i.isBlank" tooltip-html-unsafe="{{i.hoverTxt}}" tooltip-popup-delay="1000">
                                {{i.text}}
                            </div>
                        </td>
                        <td class="zp-ppColor">{{r.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="alert-danger" ng-if="hasErr"><b>{{txt.errorBold}}</b><br/>{{errMsg}}</div>
    </div>
</div>