<div ng-show="displayOnly">
    <ul class="list-unstyled form-control-static" ng-show="rooms.length">
        <li  ng-if="!oneRoomB" ng-repeat="room in prooms">
            Zimmer {{room.number}} ({{room.room_type}}) <i>{{room.guest}}</i> <i ng-if="room.guest2">/{{room.guest2}}</i> {{room.price | currency: '€'}}
        </li>
        <li  ng-if="oneRoomB" ng-repeat="room in prooms">
            Zimmer {{room.number}} ({{room.room_type}}) {{room.price | currency: '€'}} <i ng-if="planPrice">({{txt.perPersonAbrv}})</i>
        </li>
    </ul>
    <span ng-show="!rooms.length">{{selectTitle}}</span>
</div>
<div ng-show="!displayOnly">
    <div class="panel panel-default panel-tight">
        <div class="panel-heading">
            <span ng-click="isCollapsed = !isCollapsed">{{selectTitle}} <i>{{guestCountStr}}</i> <i>{{rprice | currency}}</i> <i class="glyphicon"
                                                                           ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}"></i></span>
        </div>
        <div class="panel-body" collapse="isCollapsed">
            <table class="small">
                <tr ng-show="showRooms">
                    <th>{{txt.roomsFree}}</th>
                </tr>
                <tr ng-show="showRooms">
                    <td>
                        <select ng-model="roomSelect" ng-change="onRoomSelect(roomSelect)"
                                ng-options="r.display_name for r in roomList | filter:filterAlreadySelected"></select>
                    </td>
                </tr>
                <tr ng-show="roomSelect.number  && !oneRoomB">
                    <th ng-if="!secondGuestB">{{txt.guest}}&nbsp;&nbsp; <span ng-if="roomData.showOneCnt"><input type="checkbox" ng-model="roomData.oneInDZ" ng-change="onOneInDZ()" /> {{txt.onlyOneInRoom}}</span></th>
                    <th ng-if="secondGuestB">{{txt.guests}}&nbsp;&nbsp; <span ng-if="roomData.showOneCnt"><input type="checkbox" ng-model="roomData.oneInDZ" ng-change="onOneInDZ()" /> {{txt.onlyOneInRoom}}</span></th>
                </tr>
                <tr ng-show="roomSelect.number && !oneRoomB">
                    <td ng-if="!guestLookupB">
                        <input type="text" ng-model="roomData.name"/>
                    </td>
                    <td ng-if="guestLookupB">
                        <ax-lookup-guest guest="roomData.name" firm="firm"></ax-lookup-guest>
                    </td>
                </tr>
 <!--               <tr ng-show="roomSelect.number  && !oneRoom  && secondGuestB">
                    <th>{{txt.guest2}}</th>
                </tr>-->
                <tr ng-show="roomSelect.number && !oneRoomB && secondGuestB && !roomData.oneInDZ">
                    <td ng-if="!guestLookupB">
                        <input type="text" ng-model="roomData.name2"/>
                    </td>
                    <td ng-if="guestLookupB">
                        <ax-lookup-guest guest="roomData.name2" firm="firm"></ax-lookup-guest>
                    </td>
                </tr>
                <tr ng-show="roomSelect.number">
                    <th>{{txt.price}} <i ng-if="planPrice">({{txt.perPersonAbrv}})</i> {{txt.priceSymbol}}</th>
                </tr>
                <tr ng-show="roomSelect.number">
                    <td>
                        <input class="col-xs-4" type="text" ng-model="roomData.price" ax-de-number/>&nbsp;
                        <button ng-click="addRoom()">{{txt.add}}</button>
                    </td>
                </tr>
            </table>
            <table ng-show="rooms.length" class="table small">
                <tr>
                    <th></th>
                    <th colspan="2">{{txt.room}}</th>
                    <th ng-if="!oneRoomB">{{txt.guest}}</th>
                    <th>{{txt.price}}</th>
                </tr>
                <tr ng-repeat="room in prooms">
                    <td>
                        <button ng-click="removeRoom(room.number)" class="btn btn-xs"><span
                                class="glyphicon glyphicon-remove"></span>
                        </button> &nbsp;
                        <button ng-click="startRoomSwap(room.number)" class="btn btn-xs"><span
                                class="glyphicon glyphicon-retweet"></span>
                        </button>
                        <select ng-show="room.swapFlg" ng-model="room.newRoom" ng-change="endRoomSwap(room.number)"
                                ng-options="r.display_name for r in roomList | filter:filterSameType"></select>
                    </td>
                    <td>{{room.number}}</td>
                    <td>{{room.room_type}}</td>
                    <td ng-if="!oneRoomB && editGuestB">
                        <a href="#" editable-text="room.guest" onaftersave="guestEdited(room.number)">{{room.guest}}</a>
                    </td>
                    <td ng-if="!oneRoomB && !editGuestB">{{room.guest}}<span ng-if="room.guest2">/{{room.guest2}}</span></td>
                    <td><a href="#" editable-text="room.priceTxt" onaftersave="priceEdited(room.number)">{{room.price | currency}}</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>