<div class="panel panel-default">
    <div class="panel-heading">
        {{txt.week_plan_for}} {{weekStart | date:'dd.MM.yyyy'}} {{txt.until}} {{weekEnd | date:'dd.MM.yyyy'}}
        <ax-week-buttons week-start-date='weekStart' week-end-date='weekEnd' date-in-week='dateInWeek'/>
    </div>
    <div class="panel-body zp-container">
        <table class="table-zp">
            <thead>
            <tr>
                <th></th>
                <th ng-repeat="m in mHeader track by $index" colspan="{{m.span}}" ng-class-odd="'zp-divColor'"
                    ng-class-even="'zp-endColor'"><div style="width: {{m.span * 16}}px;">{{m.text}}</div>
                </th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th ng-repeat="d in dow track by $index"
                    ng-class="{'zp-dayColor': d.isDay, 'zp-weekColor': d.inWk}">{{d.day}}
                </th>
                <th></th>
            </tr>
            <tr>
                <th>{{txt.calendar}}</th>
                <th ng-repeat="d in dow track by $index"
                    ng-class="{'zp-dayColor': d.isDay, 'zp-weekColor': d.inWk}">{{d.date}}
                </th>
                <th>{{txt.calendar}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="e in cEvents">
                <td></td>
                <td ng-repeat="i in e.resItems track by $index" colspan="{{i.span}}"
                    ng-class="{'zp-resColor': i.resCol, 'zp-endColor': i.endCol,'zp-endButt': i.overLapCol,
                    'zp-dayColor': i.dayCol, 'zpSel': i.isBlank}" cdat="0|{{i.dse}}">
                    <div ng-if="!i.isBlank" ng-click="eClick(i.link)"
                         tooltip-html-unsafe="{{i.hoverTxt}}" tooltip-append-to-body="true" class="zpRes">{{i.text}}</div>
                </td>
                <td></td>
            </tr>
            <tr class="zp-divColor"><td>{{txt.room}}</td><td colspan="{{colCnt}}"></td><td>{{txt.room}}</td></tr>
            <tr ng-repeat="r in cRooms">
                <td>{{r.room}}</td>
                <td ng-repeat="i in r.resItems track by $index" colspan="{{i.span}}"
                    ng-class="{'zp-resColor': i.resCol, 'zp-endColor': i.endCol,'zp-endButt': i.overLapCol,
                    'zp-dayColor': i.dayCol, 'zpSel': i.isBlank}" cdat="{{i.room}}|{{i.dse}}">
                    <div ng-if="!i.isBlank" ng-click="rClick(i.link)"
                         tooltip-html-unsafe="{{i.hoverTxt}}" tooltip-append-to-body="true" class="zpRes">{{i.text}}</div>
                </td>
                <td>{{r.room}}</td>
            </tr>
            <tr class="zp-divColor"><td>{{txt.parkPlace}}</td><td colspan="{{colCnt}}"></td><td>{{txt.parkPlace}}</td></tr>
            <tr ng-repeat="r in cResources">
                <td>{{r.name}}</td>
                <td ng-repeat="i in r.resItems track by $index" colspan="{{i.span}}"
                    ng-class="{'zp-resColor': i.resCol, 'zp-endColor': i.endCol,'zp-endButt': i.overLapCol, 'zp-dayColor': i.dayCol}">
                    <div ng-if="!i.isBlank" tooltip-html-unsafe="{{i.hoverTxt}}" tooltip-append-to-body="true" >{{i.text}}</div>
                </td>
                <td>{{r.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>