<div id="printBill">
    <div class="bill-page-1">
        <table class="table-bill-page">
            <thead>
            <tr>
                <td><a href="#" editable-text="rvm.res.billing_name" onaftersave="rvm.updateBillingNameSave()">{{rvm.res.billing_name}}</a></td>
                <td></td>
            </tr>
            <tr>
                <td>{{rvm.res.address1}}</td>
                <td></td>
            </tr>
            <tr ng-if="rvm.res.address2">
                <td>{{rvm.res.address2}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{rvm.res.post_code}} {{rvm.res.city}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{rvm.res.country}}</td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Bad Mergentheim, {{today | date:'dd. MMMM yyyy'}}</td>
            </tr>
            <tr>
                <td><b>{{sectionTotal.page_title}}</b></td>
                <td></td>
            </tr>
            <tr>
                <td>Nr. {{billNumber}}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Aufenthalt vom {{rvm.res.start_date | date:'dd. MMMM yyyy'}} bis {{rvm.res.end_date | date:'dd. MMMM yyyy'}}
                </td>
                <td>&nbsp;</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="bill-section-heading">{{section1.section_title}}</span></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table-bill-detail">
                        <tbody>
                        <tr ng-repeat="item in section1.items">
                            <td>{{item.text}}</td>
                            <td>{{item.total | currency}}</td>
                        </tr>
                        <tr ng-repeat="p in section1.padding">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="bill-section-heading">{{section2.section_title}}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table-bill-detail">
                        <tbody>
                        <tr ng-if="section2.items.length > 0" ng-repeat="item in section2.items">
                            <td><span>{{item.text}}</span><span ng-if="item.total < (ktax)">&nbsp;({{txt.reduction}})</span></td>
                            <td>{{item.total | currency}}</td>
                        </tr>
                        <tr ng-if="section2.items.length === 0">
                            <td>{{txt.free}}</td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="p in section2.padding">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="bill-section-heading">{{section3.section_title}}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table-bill-detail">
                        <tbody>
                        <tr ng-repeat="item in section3.items">
                            <td>{{item.text}}</td>
                            <td>{{item.total | currency}}</td>
                        </tr>
                        <tr ng-repeat="p in section3.padding">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="text-right">{{sectionTotal.total_text}}</td>
                            <td><span class="bill-total">{{sectionTotal.total | currency}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <ax-bill-taxes taxes="sectionTotal.taxes" />
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2">Betrag dankend erhalten:</td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="bill-page-2" ng-if="details && hasDetails">
        <hr class="no-print" />
        <table class="table-bill-page">
            <thead class="bill-next-page-header">
            <tr>
                <td colspan="2">Bad Mergentheim, {{today | date:'dd. MMMM yyyy'}}</td>
            </tr>
            <tr>
                <td><b>{{section4.page_title}}</b></td>
                <td></td>
            </tr>
            <tr>
                <td>Herrn/Frau/Frl. {{guest}}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Aufenthalt vom {{rvm.res.start_date | date:'dd. MMMM yyyy'}} bis {{rvm.res.end_date | date:'dd. MMMM yyyy'}}
                </td>
                <td>&nbsp;</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="bill-section-heading">{{section4.section_title}}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table-bill-detail">
                        <tbody>
                        <tr ng-repeat="item in section4.items">
                            <td>{{item.text}}</td>
                            <td>{{item.total | currency : fmtC(item.total)}}</td>
                        </tr>
                        <tr ng-repeat="p in section4.padding">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="text-right">{{section4.total_text}}</td>
                            <td><span class="bill-total">{{section4.total | currency}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <ax-bill-taxes taxes="section4.taxes" />
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>