<div class="input-group-btn">
    <a class="btn btn-default btn-sm" href="" ng-click="goDate(-30)"><span class="glyphicon glyphicon-fast-backward"></span></a>
    <a class="btn btn-default btn-sm" href="" ng-click="goDate(-7)"><span class="glyphicon glyphicon-backward"></span></a>
    <a class="btn btn-default btn-sm" href="" ng-click="goDate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="btn btn-default btn-sm" href="" ng-click="goDate(0)"><span class="">{{txt.today}}</span></a>
    <input type="text" ng-show="false" datepicker-popup="{{format}}"  ng-model="pickedDate" is-open="opened" datepicker-options="dateOptions" show-button-bar="false" />
    <a class="btn btn-default btn-sm" href="" ng-click="goPick($event)"><span class="glyphicon glyphicon-calendar"></span></a>
    <a class="btn btn-default btn-sm" href="" ng-click="goDate(1)"><span class="glyphicon glyphicon-chevron-right"></span></a>
    <a class="btn btn-default btn-sm" href="" ng-click="goDate(7)"><span class="glyphicon glyphicon-forward"></span></a>
    <a class="btn btn-default btn-sm" href="" ng-click="goDate(30)"><span class="glyphicon glyphicon-fast-forward"></span></a>
</div>