<div class="input-group-btn">
    <a class="btn btn-default btn-sm" href="#" ng-click="goPrevMonth()"><span class="glyphicon glyphicon-fast-backward"></span></a>
    <a class="btn btn-default btn-sm" href="#" ng-click="goPrevWeek()"><span class="glyphicon glyphicon-backward"></span></a>
    <a class="btn btn-default btn-sm" href="#" ng-click="goPrev()"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="btn btn-default btn-sm" href="#" ng-click="goToday()"><span class="">{{txt.today}}</span></a>
    <a class="btn btn-default btn-sm" href="#" ng-click="goNext()"><span class="glyphicon glyphicon-chevron-right"></span></a>
    <a class="btn btn-default btn-sm" href="#" ng-click="goNextWeek()"><span class="glyphicon glyphicon-forward"></span></a>
    <a class="btn btn-default btn-sm" href="#" ng-click="goNextMonth()"><span class="glyphicon glyphicon-fast-forward"></span></a>
</div>