<div class="modal-header">
    <h3 class="modal-title">Add a Guest</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-4">Salutation</label>
            <div class="col-xs-8">
                <select class="form-control" ng-model="selSalutation" ng-options="z as z.name for z in salutations" ng-change="salutationChanged()"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">Vorname</label>
            <div class="col-xs-8">
                <input class="form-control" ng-model="guest.first_name" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">Nachname</label>
            <div class="col-xs-8">
                <input class="form-control" ng-model="guest.last_name" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">Geburtstag</label>
            <div class="col-xs-8">
                <input class="form-control" ng-model="guest.birthday" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">Firma</label>
            <div class="col-xs-8">
                <ax-lookup-firm firm="guest.firm"></ax-lookup-firm>
            </div>
        </div>
        <div class="form-group" ng-show="!guest.firm">
            <label class="control-label col-xs-4">Addresse 1</label>
            <div class="col-xs-8">
                <input class="form-control" ng-model="guest.address1" type="text" />
            </div>
        </div>
        <div class="form-group"  ng-show="!guest.firm">
            <label class="control-label col-xs-4">Addresse 2</label>
            <div class="col-xs-8">
                <input class="form-control" ng-model="guest.address2" type="text" />
            </div>
        </div>
        <div class="form-group"  ng-show="!guest.firm">
            <label class="control-label col-xs-4">PLZ</label>
            <div class="col-xs-8">
                <input class="form-control" ng-model="guest.post_code" type="text" />
            </div>
        </div>
        <div class="form-group"  ng-show="!guest.firm">
            <label class="control-label col-xs-4">Ort</label>
            <div class="col-xs-8">
                <input class="form-control" ng-model="guest.city" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">Telefonnummer</label>
            <div class="col-xs-8">
                <input class="form-control" ng-model="guest.telephone" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">email</label>
            <div class="col-xs-8">
                <input class="form-control" ng-model="guest.email" type="email" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">Bemerkung</label>
            <div class="col-xs-8">
                <input class="form-control" ng-model="guest.comments" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">XXXXX</label>
            <div class="col-xs-8">
                YYYYY
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>