include nav_common.jade
.container-fluid
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          .form-horizontal
            span.input-group  Testing
            button(ng-click="newRes()") New Res
            button(ng-click="testYes()") Test
        .panel-body
          div.form-horizontal
            .form-group
              label.control-label.col-xs-4 Test Firm
              .col-xs-7
                button(ng-click="testFirm('c')") New
                button(ng-click="testFirm('r')") Read
                button(ng-click="testFirm('u')") Update Name/ID
                button(ng-click="testFirm('d')") Delete
                span Firm:
                  input(type="text" ng-model="testFid")
            .form-group
              label.control-label.col-xs-4 Results:
              .col-xs-8
                div {{firmTestResult | json}}
              hr
            .form-group
              label.control-label.col-xs-4 Test Guest
              .col-xs-8
                button(ng-click="testGuest('c')") New
                button(ng-click="testGuest('r')") Read
                button(ng-click="testGuest('u')") Update Name/ID
                button(ng-click="testGuest('d')") Delete
                span Guest:
                  input(type="text" ng-model="testGid")
            .form-group
              label.control-label.col-xs-4 Results:
              .col-xs-8
                div {{guestTestResult | json}}
            hr
            .form-group
              label.control-label.col-xs-4 Test Event
              .col-xs-8
                button(ng-click="testEvt('c')") New
                button(ng-click="testEvt('r')") Read
                button(ng-click="testEvt('u')") Update Res. No.
                button(ng-click="testEvt('d')") Delete
                span Event ID:
                  input(type="number" ng-model="testEid")
            .form-group
              label.control-label.col-xs-4 Results:
              .col-xs-8
                div {{evtTestResult | json}}
            hr
            .form-group
              label.control-label.col-xs-4 Test Reservation
              .col-xs-8
                button(ng-click="testRes('c')") New
                button(ng-click="testRes('r')") Read
                button(ng-click="testRes('u')") Update Res. No.
                button(ng-click="testRes('d')") Delete
                span Res No:
                  input(type="number" ng-model="testRid")
              .form-group
                label.control-label.col-xs-4 Results:
                .col-xs-8
                  div {{resTestResult | json}}
    .col-md-8

