include nav_common.jade
.container-fluid
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          .form-horizontal
            span.input-group  Testing
            button(ng-click="newRes()") New Res
            button(ng-click="testFD()") Test File Dialog
        .panel-body.tab-content-box
          div.form-horizontal
            .form-group
              label.control-label.col-xs-4 Test Firm
              .col-xs-7
                button(ng-click="testFirm('c')") New
                button(ng-click="testFirm('r')") Read
                button(ng-click="testFirm('u')") Update Name/ID
                button(ng-click="testFirm('d')") Delete
                span Firm:
                  input(type="text" ng-model="testFid")
            .form-group
              label.control-label.col-xs-4 Results:
              .col-xs-8
                div {{firmTestResult | json}}
              hr
            .form-group
              label.control-label.col-xs-4 Test Guest
              .col-xs-8
                button(ng-click="testGuest('c')") New
                button(ng-click="testGuest('r')") Read
                button(ng-click="testGuest('u')") Update Name/ID
                button(ng-click="testGuest('d')") Delete
                span Guest:
                  input(type="text" ng-model="testGid")
            .form-group
              label.control-label.col-xs-4 Results:
              .col-xs-8
                div {{guestTestResult | json}}
            hr
            .form-group
              label.control-label.col-xs-4 Test Event
              .col-xs-8
                button(ng-click="testEvt('c')") New
                button(ng-click="testEvt('r')") Read
                button(ng-click="testEvt('u')") Update Res. No.
                button(ng-click="testEvt('d')") Delete
                span Event ID:
                  input(type="number" ng-model="testEid")
            .form-group
              label.control-label.col-xs-4 Results:
              .col-xs-8
                div {{evtTestResult | json}}
            hr
            .form-group
              label.control-label.col-xs-4 Test ItemType
              .col-xs-8
                button(ng-click="testItem('c')") New
                button(ng-click="testItem('r')") Read
                button(ng-click="testItem('u')") Update Id.
                button(ng-click="testItem('d')") Delete
                span ItemType ID:
                  input(type="number" ng-model="testIid")
            .form-group
              label.control-label.col-xs-4 Results:
              .col-xs-8
                div {{itmTestResult | json}}
            hr
            .form-group
              label.control-label.col-xs-4 Test Room
              .col-xs-8
                button(ng-click="testRoom('c')") New
                button(ng-click="testRoom('r')") Read
                button(ng-click="testRoom('u')") Update Id.
                button(ng-click="testRoom('d')") Delete
                span Room ID:
                  input(type="number" ng-model="testRmid")
            .form-group
              label.control-label.col-xs-4 Results:
              .col-xs-8
                div {{rmTestResult | json}}
            hr
            .form-group
              label.control-label.col-xs-4 Test Resource
              .col-xs-8
                button(ng-click="testResource('c')") New
                button(ng-click="testResource('r')") Read
                button(ng-click="testResource('u')") Update Id.
                button(ng-click="testResource('d')") Delete
                span Resource ID:
                  input(type="number" ng-model="testRsid")
            .form-group
              label.control-label.col-xs-4 Results:
              .col-xs-8
                div {{rmTestResult | json}}
            hr
            .form-group
              label.control-label.col-xs-4 Test Reservation
              .col-xs-8
                button(ng-click="testRes('c')") New
                button(ng-click="testRes('r')") Read
                button(ng-click="testRes('u')") Update Res. No.
                button(ng-click="testRes('d')") Delete
                span Res No:
                  input(type="number" ng-model="testRid")
              .form-group
                label.control-label.col-xs-4 Results:
                .col-xs-8
                  div {{resTestResult | json}}
    .col-md-8
      ax-week-buttons(picked-date='dateInWeek')
      span  {{dateInWeek}}
      a.btn.btn-default.btn-sm( href="#" ng-click="alert('boo')")
        i.glyphicon.glyphicon-fast-forward
