include nav_common.jade
.container
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          .form-horizontal
            span.input-group  Testing
            button(ng-click="newRes()") New Res
            button(ng-click="curRes()") Current Res
        .panel-body
          div.form-horizontal
            .form-group
              label.control-label.col-xs-4 Test Firm
              .col-xs-8
                button(ng-click="testFirm('c')") New
                button(ng-click="testFirm('r')") Read
                button(ng-click="testFirm('u')") Update Name
                button(ng-click="testFirm('u2')") Update ID
                button(ng-click="testFirm('d')") Delete
            .form-group
              label.control-label.col-xs-4 Test Firm Results:
              .col-xs-8
                div {{firmTestResult}}
            .form-group
              label.control-label.col-xs-4 Test Guest
              .col-xs-8
                button(ng-click="testGuest('c')") New
                button(ng-click="testGuest('r')") Read
                button(ng-click="testGuest('u')") Update Name
                button(ng-click="testGuest('u2')") Update ID
                button(ng-click="testGuest('d')") Delete
            .form-group
              label.control-label.col-xs-4 Test Guest Results:
              .col-xs-8
                div {{guestTestResult}}

  .col-md-7
      .panel.panel-default
        .panel-heading Reservation {{reservationNumber}}
        .panel-body(ng-show="showRes")
           ax-reservation(reservation-number="reservationNumber")

