include nav_common.jade
.container
  .row
    .col-md-5
      .panel.panel-default
        .panel-heading
          .form-horizontal
            span.input-group  Testing
        .panel-body
          div.form-horizontal
            .form-group
              label.control-label.col-xs-4 Test 1
              .col-xs-8
                 button(ng-click="changeDates()") Change Date
    .col-md-7
      .panel.panel-default
        .panel-heading Zimmer Plan  {{roomTitle}}
        .panel-body
          .form-group
            label.control-label.col-xs-4 Zimmer
            .col-xs-8
              ax-room-select(room-list="roomList", rooms="rooms", guest="{{name}}", plan-price="{{price}}" room-count="roomCount")
