include nav_common.jade
.container
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading {{txt.currentReservations}}
          //span.input-group
          //  input.form-control(type=text ng-model="searchTxt")
          //  span.input-group-btn
          //    button.btn.btn-small.pull-right(type="button" ng-click="findRes()")
          //      i.glyphicon.glyphicon-search
        .panel-body
          ax-reservation-list(list-mode="c" selected-reservation="selected.reservation" res-count="selected.acCnt")
    .col-md-8
      .panel.panel-default
        .panel-heading
          div(ng-show="!showCharges") {{pTitle}}&nbsp;
          div(ng-show="showCharges") {{pTitle}} für: {{rvm.res.reservation_number}} - {{guest}} - {{txt.roomAbrv}} {{room}}, Abfahrt {{rvm.res.end_date | date:'dd.MM.yyyy'}}, {{rvm.res.nights}} {{txt.nights}}
          div.btn-group
            a.btn.btn-default.btn-small(ng-if="showCharges" href="#/home/{{rvm.res.reservation_number}}/{{room}}/{{guest}}")
              i.glyphicon.glyphicon-arrow-left
              span &nbsp;{{txt.toRoomPlan}}
            a.btn.btn-info.btn-small(href="" ng-if="showCharges" ng-click="edit()") {{txt.edit}}
            a.btn.btn-default.btn-small(ng-show="showCharges" href="#/rechnung/{{rvm.res.reservation_number}}/{{room}}/{{guest}}") {{txt.toBill}} &nbsp;
              i.glyphicon.glyphicon-arrow-right(ng-show="showCharges")
        .panel-body
          .col-md-12
            div.table-bordered(ng-show="showCharges")
              .btn-group.btn-group-justified(data-toggle="buttons" ng-if="roomGuest2 && gRooms.length === 0")
                label.btn.btn-default(ng-class="{active: guest === roomGuest1}" ng-click="changeGuest(roomGuest1)")
                  span {{roomGuest1}}
                label.btn.btn-default(ng-class="{active: guest === roomGuest2}" ng-click="changeGuest(roomGuest2)")
                  span {{roomGuest2}}
              .btn-group.btn-group-justified(date-toggle="buttons" ng-if="gRooms.length > 0")
                label.btn.btn-default(ng-repeat="rm in gRooms" ng-class="{active: guest === rm.guest}" ng-click="changeRoomGuest(rm.room, rm.guest)")
                  span {{txt.roomAbrv}} {{rm.room}} - {{rm.guest}}
              tabset(justified="true")
                tab(heading="Plan")
                  .form-horizontal
                    .form-group.left
                      label.control-label.col-xs-4 {{txt.roomPlan}}:
                      .col-xs-8
                        p.form-control-static  {{planText}}
                  ax-expense-item-list(reservation-vm="rvm" item_type="Plan" room="{{room}}" guest="{{guest}}" count_title="{{txt.daysTimes}}")
                tab(heading="Getränke")
                  ax-expense-item-list(reservation-vm="rvm" item_type="Getränke" room="{{room}}" guest="{{guest}}")
                tab(heading="Speisen")
                  ax-expense-item-list(reservation-vm="rvm" item_type="Speisen" room="{{room}}" guest="{{guest}}")
                tab(heading="Dienste" ng-show="!rvm.res.insurance")
                  ax-expense-item-list(reservation-vm="rvm"  item_type="Dienste" room="{{room}}" guest="{{guest}}" )
                tab(heading="Kur & Heilmittel" ng-show="rvm.res.insurance")
                  ax-expense-item-list(reservation-vm="rvm"  item_type="{{insurance}}" room="{{room}}" guest="{{guest}}" )
              ax-mini-bill(reservation-vm="rvm", room="{{room}}" guest="{{guest}}")

