include nav_common.jade
.container
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          span.input-group-btn Aktuelle Reservierungen
            button.btn.btn-small.pull-right(type="button" ng-click="findRes()")
              i.glyphicon.glyphicon-search
        .panel-body
          ax-reservation-list(list-mode="c" list-date="theDate" selected-reservation="selectedReservation")
    .col-md-8
      .panel.panel-default
        .panel-heading Gebühren&nbsp;
          span(ng-show="showCharges") für: {{rvm.res.guest.name}} - Zimmer {{rvm.res.room}}, Abfahrt {{rvm.res.end_date | date:'shortDate'}}, {{rvm.res.nights}} Nöchte
          a.btn.btn-default.btn-small.pull-right(ng-show="showCharges" href="#/rechnung/{{rvm.res.reservation_number}}")
            span(class="glyphicon glyphicon-arrow-right" ng-show="showCharges") &nbsp;Zu Rechnung
        .panel-body
          .col-md-12
            div.table-bordered(ng-show="showCharges")
              tabset(justified="true")
                tab(heading="Allgemein")
                  .form-horizontal
                    .form-group.left
                      label.control-label.col-xs-4 Zimmer:
                      .col-xs-8
                        p.form-control-static  {{rvm.res.nights}} Tage {{rvm.res.plan}} à {{rvm.res.room_price | currency: '€'}}
                    .form-group.left
                      label.control-label.col-xs-4 Parkgebühr:
                      .col-xs-8
                        p.form-control-static  {{rvm.res.nights}} Tage  à {{rvm.res.park_price | currency: '€'}}
                  hr
                  ax-expense-item-list(item-type-array="itemTypes" expense-item-array="rvm.res.expenses" item_type="Plan", count_title="Tage" default_count="{{rvm.res.nights}}" max_count="{{rvm.res.nights}}")
                tab(heading="Getränke")
                  ax-expense-item-list(item-type-array="itemTypes" expense-item-array="rvm.res.expenses" item_type="Getränke", count_title="Mal" )
                tab(heading="Speisen")
                  ax-expense-item-list(item-type-array="itemTypes" expense-item-array="rvm.res.expenses" item_type="Speisen", count_title="Mal" )
                tab(heading="Kur & Heilmittel" ng-show="rvm.isCure")
                  ax-expense-item-list(item-type-array="itemTypes" expense-item-array="rvm.res.expenses" item_type="{{rvm.res.insurance}}", count_title="Mal" )


