include nav_common.jade

.container
  h1 Current File : {{path}}
  table.table.table-condensed.table-stripped
    tbody
      tr
        th name
        td {{path}}
      tr
        th last Modified
        td {{file.mtime}}
      tr
        th last Access
        td {{file.atime}}
      tr
        th size
        td {{file.size}}

  button.btn.btn-primary(ui-sref="home") Back Home
