
include nav_common.jade

.container-fluid
  .row
    .col-md-4
      tabset(justified="true")
        tab(heading="{{selected.anCnt}} Ankunft: {{theDate | date:'dd.MM.yyyy'}}" select="clearSelected()")
          .tab-content-box
            ax-reservation-list(list-mode="arrival" list-date="theDate" selected-reservation="selected.reservation" res-count="selected.anCnt")
        tab(heading="{{selected.ab1Cnt}} Abfahrt: {{theDate | date:'dd.MM.yyyy'}}" select="clearSelected()")
          .tab-content-box
            ax-reservation-list(list-mode="departure" list-date="theDate" selected-reservation="selected.reservation" res-count="selected.ab1Cnt")
        tab(heading="{{selected.ab2Cnt}} Abfahrt: {{theNextDate | date:'dd.MM.yyyy'}}" select="clearSelected()")
          .tab-content-box
            ax-reservation-list(list-mode="departure" list-date="theNextDate" selected-reservation="selected.reservation" res-count="selected.ab2Cnt")
    .col-md-8
      .panel.panel-default(ng-hide="!selected.reservation.number")
        .panel-heading
          .form-horizontal
            span.input-group-btn Reservierung #: {{selectedReservation}}
              button.btn.btn-small.pull-right(type="button" ng-click="clearSelected()")
                i.glyphicon.glyphicon-eye-close
        .panel-body
          div(ax-reservation-details reservation="selected.reservation.number")
      ax-room-plan(date-in-week="theDate" selected-reservation="selected.reservation" blank-click-function="newResOrCal")
