// Common App header and navigation html
.app-page-header.inline
  img(src="./images/logo.png", alt="{{appTitle}}" height="40" width="68")
  .pull-right
    h3 {{pageHeading}}
  //.app-logo.pull-left {{appTitle}}
.navbar.navbar-fixed-bottom.navbar-inverse(role="navigation")
  .navbar-header
    .navbar-brand: a(href="")  {{appBrand}}
  ul.nav.navbar-nav
    li(ng-class="{active: (url.indexOf('/home') > -1)}")
      a(href="#/home/0/0/0") Zimmer Plan
    li(ng-class="{active: (url.indexOf('/charges') > -1)}")
      a(href="#/charges/0/0/0") Gebühren
    li(ng-class="{active: (url.indexOf('/rechnung') > -1)}")
      a(href="#/rechnung/0/0/0") Rechnung
    li(ng-class="{active: (url.indexOf('/reservations') > -1)}")
      a(href="#/reservations") Reservierungen
    li(ng-class="{active: (url.indexOf('/liste') > -1)}")
      a(href="#/liste") Liste
    li(ng-class="{active: (url.indexOf('/addresse') > -1)}")
      a(href="#/addresse") DevTest
  ul.nav.navbar-nav.pull-right
    li
    a(href="") V0.1
