include nav_common.jade
.container
  .row
    .col-md-12
      h3 {{txt.accommodationType}}
      tabset(type="pills")
        tab(ng-repeat="p in ptypes" heading="{{p.type}}" active="p.active" select="planTypeSelected(p.type)")
      hr.tight
      .table-content-box
        .col-md-12
          table.table.table-bordered.table-hover.table-condensed
            thead
              tr
                th
                th
                th {{txt.description}}
                th {{txt.overnightAbr}}
                th {{txt.perPersonPriceAbrv}}
                th {{txt.singleSurchargeAbr}}
                th {{txt.singleRoomPriceAbr}}
                th {{txt.doubleRoomPriceAbr}}
                th {{txt.requiresKurtaxe}}
                th Required Item Count
            tbody
              tr(ng-repeat="p in planObjects | filter:planFilter" ng-click="setSelected(p.name)" ng-class="{'zp-EZ-Komf': p.name === selectedPlan}")
                td.text-center
                  i.glyphicon.glyphicon-edit(ng-click="editPlan(p._id.id)")
                td.text-center
                  i.glyphicon.glyphicon-remove(ng-click="removePlan(p._id.id)" )
                td {{p.name}}
                td {{p.duration}}
                td {{p.pp_price | currency}}
                td {{p.single_surcharge | currency}}
                td {{p.single_room_price | number : 4}}
                td {{p.double_room_price | number : 4}}
                td {{p.requires_kurtax}}
                td {{p.required_items.length}}
              tr
                td
                  button.btn.btn-info.btn-sm(ng-click="newPlan()")
                    i.glyphicon.glyphicon-plus-sign
            div(ng-show="working")
              span.btn.btn-warning.btn-sm
              i.glyphicon.glyphicon-refresh
          .col-md-8(ng-show="selectedPlan")
            h3 {{selectedPlanItems.length}} {{txt.itemsFor}} {{selectedPlan}}
            table.table.table-bordered.table-hover.table-condensed
              thead
                tr
                  th
                  th
                  th Name
                  th Count
                  th {{txt.price}}
              tbody
                tr(ng-repeat="i in selectedPlanItems")
                  td.text-center
                    i.glyphicon.glyphicon-edit(ng-click="editItem(i.name)" ng-if="!i.is_system")
                  td.text-center
                    i.glyphicon.glyphicon-remove(ng-click="removeItem(i.name)" )
                  td {{i.name}}
                  td(ng-if="i.day_count") {{txt.perDay}}
                  td(ng-if="!i.day_count") {{i.count}}
                  td(ng-if="i.price_lookup") {{txt.fromPriceList}}
                  td(ng-if="!i.price_lookup") {{i.price | currency}}
                tr
                  td.text-center
                    button.btn.btn-info.btn-sm(ng-click="newItemShow()" tooltip="{{tips(1)}}")
                      i.glyphicon.glyphicon-plus-sign
                  td
                    table.table.table-bordered.table-hover.table-condensed(ng-show="showExistingItems")
                      tr(ng-repeat="pi in planItemTypes | filter:itemTypeFilter")
                        td.text-center
                          i.glyphicon.glyphicon-plus(ng-click="addExistingItem(pi.name)")
                        td {{pi.name}}
                      tr
                        td.text-center
                          button.btn.btn-info.btn-sm(ng-click="addNewItem()")
                            i.glyphicon.glyphicon-plus-sign
                        td.text-right
                          button.btn.btn-info.btn-sm(ng-click="showExistingItems=false;")
                            i.glyphicon.glyphicon-eye-close
