
include nav_common.jade

.container
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          span.input-group-btn Aktuelle Reservierungen
            button.btn.btn-small.pull-right(type="button" ng-click="findRes()")
              i.glyphicon.glyphicon-search
        .panel-body
          div(reservation-list list-mode="c" list-date="theDate" selected-reservation="selectedReservation")
    .col-md-8
      .panel.panel-default
        .panel-heading Rechnung&nbsp;
          span(ng-show="showCharges") für: {{res.guest.name}} - Zimmer {{res.room}}, Abfahrt {{res.end_date | date:'shortDate'}}, {{res.nights}} Nächte
        .panel-body
          .col-md-12
            div(ng-show="showCharges")
              img(src="./images/rechnung.png" alt="room calendar widget" width="600 px")

          div.form-horizontal(ng-show="false")
            h3 Debug:
            .form-group
              label.control-label.col-xs-4 Res. #:
              .col-xs-8
                p.form-control-static(editable-text="res.reservation_number") {{res.reservation_number}}
            .form-group
              label.control-label.col-xs-4 title:
              .col-xs-8
                p.form-control-static {{res.title}}
            .form-group
              label.control-label.col-xs-4 guest:
              .col-xs-8
                p.form-control-static {{res.guest}}
            .form-group
              label.control-label.col-xs-4 firm:
              .col-xs-8
                p.form-control-static {{res.firm}}
            .form-group
              label.control-label.col-xs-4 start_date:
              .col-xs-8
                p.form-control-static {{res.start_date}}
            .form-group
              label.control-label.col-xs-4 end_date:
              .col-xs-8
                p.form-control-static {{res.end_date}}
            .form-group
              label.control-label.col-xs-4 (nights):
              .col-xs-8
                p.form-control-static {{res.nights}}
            .form-group
              label.control-label.col-xs-4 checked-in:
              .col-xs-8
                p.form-control-static {{res.checked_in}}
            .form-group
              label.control-label.col-xs-4 checked-out:
              .col-xs-8
                p.form-control-static {{res.checked_out}}
            .form-group
              label.control-label.col-xs-4 occupants:
              .col-xs-8
                p.form-control-static {{res.occupants}}
            .form-group
              label.control-label.col-xs-4 room:
              .col-xs-8
                p.form-control-static {{res.room}}
            .form-group
              label.control-label.col-xs-4 room_price:
              .col-xs-8
                p.form-control-static {{res.room_price}}
            .form-group
              label.control-label.col-xs-4 park_place:
              .col-xs-8
                p.form-control-static {{res.park_place}}
            .form-group
              label.control-label.col-xs-4 park_price:
              .col-xs-8
                p.form-control-static {{res.park_price}}
            .form-group
              label.control-label.col-xs-4 conf_room:
              .col-xs-8
                p.form-control-static {{res.conf_room}}
            .form-group
              label.control-label.col-xs-4 conf_price:
              .col-xs-8
                p.form-control-static {{res.conf_price}}
            .form-group
              label.control-label.col-xs-4 status:
              .col-xs-8
                p.form-control-static {{res.status}}
            .form-group
              label.control-label.col-xs-4 plan:
              .col-xs-8
                p.form-control-static {{res.plan}}
            .form-group
              label.control-label.col-xs-4 plan_code:
              .col-xs-8
                p.form-control-static {{res.plan_code}}
            .form-group
              label.control-label.col-xs-4 source:
              .col-xs-8
                p.form-control-static {{res.source}}
            .form-group
              label.control-label.col-xs-4 comments:
              .col-xs-8
                p.form-control-static {{res.comments}}
            .form-group
              label.control-label.col-xs-4 expenses:
              .col-xs-8
                p.form-control-static {{res.expenses}}
