
include nav_common.jade

.container
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading {{txt.currentReservations}}
          span.input-group
            input.form-control(type=text ng-model="searchTxt")
            span.input-group-btn
              button.btn.btn-small.pull-right(type="button" ng-click="findRes()")
                i.glyphicon.glyphicon-search
        .panel-body
          ax-reservation-list(list-mode="c" list-date="theDate" selected-reservation="selectedReservation" res-count="resCount")
    .col-md-8
      .panel.panel-default
        .panel-heading {{pTitle}}&nbsp;
          span(ng-show="showCharges") für: {{rvm.res.reservation_number}} - {{guest}} - {{txt.roomAbrv}} {{room}}, Abfahrt {{rvm.res.end_date | date:'dd.MM.yyyy'}}, {{rvm.res.nights}} {{txt.nights}}
          span.input-group-btn
            a.btn.btn-default.btn-small(ng-show="showCharges" href="#/charges/{{rvm.res.reservation_number}}/{{room}}/{{guest}}")
              i.glyphicon.glyphicon-arrow-left &nbsp;{{txt.toCharges}}
            a.btn.btn-default.btn-small(href="" ng-if="showCharges && canCheckOut" ng-click="checkout()") {{txt.checkout}}
            a.btn.btn-default.btn-small(href="" ng-if="showCharges && canCheckOut" ax-print print-element-id="printBill") {{txt.print}}
        .panel-body
          .col-md-12
            div(ng-show="showCharges")
              ax-business-bill(reservation-vm="rvm" room="{{room}}" guest="{{guest}}")



