include nav_common.jade
.container
  .row
    .col-md-12
      h3 {{txt.reservationYearMonth}}
      tabset(type="pills")
        tab(ng-repeat="y in years" heading="{{y.year}}" active="y.active" select="yearSelected(y.year)")
      hr.tight
      tabset(type="pills")
        tab(ng-repeat="m in months" heading="{{m.month}}" active="m.active" disabled="m.disabled" select="monthSelected(m.mm)")
      .reservations-content-box
        div(ng-show="!working") {{reservations.length}} Reserverungen in {{months[selectedMonth].month}} {{selectedYear}}
        div(ng-show="working" class="zp-loading")
          img(src="images/startup.gif" alt="loading...")
        div(ng-show="reservations.length")
          table.table.table-bordered.table-hover.table-condensed.table-first-last-center
            thead
              tr
                th
                th(ng-click="changeSort('resNum')") {{txt.res_num}} 
                  i.glyphicon.glyphicon-sort-by-alphabet-alt(ng-show="sort.descending")
                  i.glyphicon.glyphicon-sort-by-alphabet(ng-show="!sort.descending")
                th(ng-click="changeSort('start')") {{txt.from}} 
                  i.glyphicon.glyphicon-sort-by-alphabet-alt(ng-show="sort.descending")
                  i.glyphicon.glyphicon-sort-by-alphabet(ng-show="!sort.descending")
                th(ng-click="changeSort('end')") {{txt.until}} 
                  i.glyphicon.glyphicon-sort-by-alphabet-alt(ng-show="sort.descending")
                  i.glyphicon.glyphicon-sort-by-alphabet(ng-show="!sort.descending")
                th(ng-click="changeSort('nights')") {{txt.nights}} 
                  i.glyphicon.glyphicon-sort-by-alphabet-alt(ng-show="sort.descending")
                  i.glyphicon.glyphicon-sort-by-alphabet(ng-show="!sort.descending")
                th {{txt.numRoomsAbrv}} / {{txt.guests}} (#Zr)
                th(ng-click="changeSort('lastName')") {{txt.guest}} 
                  i.glyphicon.glyphicon-sort-by-alphabet-alt(ng-show="sort.descending")
                  i.glyphicon.glyphicon-sort-by-alphabet(ng-show="!sort.descending")
                th(ng-click="changeSort('type')") {{txt.type}} 
                  i.glyphicon.glyphicon-sort-by-alphabet-alt(ng-show="sort.descending")
                  i.glyphicon.glyphicon-sort-by-alphabet(ng-show="!sort.descending")
                th
            tbody
              tr(ng-repeat="r in reservations | orderBy:sort.column:sort.descending", ng-class="{'late-chkout': r.lateCheckOut && !r.lateCheckIn, 'late-chkin': r.lateCheckIn}")
                td
                  span(ng-if="!r.canEdit")
                    i.glyphicon.glyphicon-eye-open(ng-click="view(r.resNum)") &nbsp;
                    i.glyphicon.glyphicon-euro(ng-click="viewBill(r.resNum, r.room, r.guest)")
                  a(ng-if="r.canEdit && r.canCheckIn" href="#/home/{{r.resNum}}/{{r.room}}/{{r.guest}}")
                    i.glyphicon.glyphicon-resize-small
                  a(ng-if="r.canEdit && r.lateCheckIn" href="#/home/{{r.resNum}}/{{r.room}}/{{r.guest}}")
                    i.glyphicon.glyphicon-resize-small &nbsp;
                  a(ng-if="r.canEdit && r.lateCheckOut && !r.lateCheckIn" href="#/rechnung/{{r.resNum}}/{{r.room}}/{{r.guest}}")
                    i.glyphicon.glyphicon-resize-full
                  i.glyphicon.glyphicon-edit(ng-if="r.canEdit && !r.lateCheckOut && !r.canCheckIn" ng-click="edit(r.resNum)")
                td {{r.resNum}}
                td {{r.start}}
                td {{r.end}}
                td {{r.nights}}
                td {{r.room}} / {{r.guestCount}} ({{r.rcount}})
                td {{r.guest}}
                td {{r.type}}
                td
                  i.glyphicon.glyphicon-remove(ng-if="r.canCancel" ng-click="cancel(r.resNum)")
                  i.glyphicon.glyphicon-remove(ng-if="r.canCancelIf" ng-click="cancelIf(r.resNum)")
        .alert.alert-danger(ng-show="errShow")
          h3 Error!
          span {{errMsg}}