
include nav_common.jade

.container
  .row
    .col-md-5
      .panel.panel-default
        .panel-heading
          .form-horizontal
            span.input-group  Neue Reservierung
        .panel-body

    .col-md-7
      .panel.panel-default
        .panel-heading Zimmer Plan
        .panel-body
          div
            img(src="./images/resplan.png" alt="room calendar widget" width="600 px")