//@import 'bootstrap/bootstrap';
@import './src/lib/bootstrap/less/bootstrap';
// Override any Bootstrap variables here

body {
  margin:10px;
}

.navbar-brand {
  img {
    height:25px;
  }
}

.page-header {

  img {
    display:block;
    margin:auto;
    width:400px;
  }
}
.form-group {
  margin-bottom: 2px;
}

.panel-heading {
  font-weight: bold;
}
  // classes to create fixed height scrollable panels or divs
.scrollable200 {
  height: 200px;
  overflow-y: auto;
}
.scrollable400 {
  height: 400px;
  overflow-y: auto;
}
.dl-horizontal dt {
  text-align: left;
  margin-bottom: .3em;
  width: auto;
  padding-right: 1em;
}
.dl-horizontal dd{
  margin-left: 0;
  margin-bottom: .3em;
}
.app-logo{
  background-image: url('../images/logo.png');
}

.app-page-header {
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid @gray-lighter;
}

.currentRow {
  background-color: @gray-lighter;
}

.panel-tight {
  margin-bottom: 2px;
}

// to fix scroll bug in modal
.ovh {
  overflow:hidden;
}

//adds strikethrough decoration to text.
.text-delete {
  text-decoration: line-through;
}

@zp-cell-box: 16px; //NOTE: if this changes, line 36 of ax-room-plan.html needs to be changed also
@zp-font-size: ceil((@font-size-base * 0.6));
@zp-res-color: #ffff99;
@zp-ez-color: #fff1bc;
@zp-dz-color: #b5fff5;
@zp-su-color: #cca5ca;
@zp-pp-color: #b2ab8d;
@zp-sel-color: #4daeff;
@zp-div-color: darken(@state-warning-bg, 10%);
// define colors for room type classes
// formatting for room plan table
.table-zp {
  //table-layout: fixed;
  width: 100%;
  max-width: 100%;
  margin: 0px;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 1px;
        height: @zp-cell-box;
        max-width: @zp-cell-box;
        margin: 0;
        border: 1px solid @table-border-color;
        font-size: @zp-font-size;
      }
    }
  }

  // modify room plan headings
  > thead > tr > th {
      vertical-align: middle;
      text-align: center;
  }
  > tbody > tr >
    td:first-child,
    td:last-child {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    width: 50px;
  }
  > tbody > tr > td > div {
    white-space: nowrap;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > thead > tr > th > div {
    white-space: nowrap;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.zpSel {} //used as jquery selector
.zpRes {} //ditto
.zp-container {
  padding: 1px;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 700px;
}
.zp-resColor {
  background-color: @zp-res-color;
}
.zp-endColor {
  background-color: darken(spin(@zp-res-color, -10), 5%);
}
.table-zplan > tbody > tr > td.zp-endButt {
  border-right-style: double;
  border-right-width: thick;
  border-right-color: rgb(255,163,71);
}
.zp-divColor {
  background-color: @zp-div-color;
}
.zp-weekColor {
  background-color: @state-success-bg; //rgb(197,217,241);
}
.zp-dayColor {
  background-color: @state-info-bg; //rgb(97,151,217);
}
.zp-selColor {
  background-color: @zp-sel-color;
}
.zp-ppColor {
  background-color: @zp-pp-color;
}
.zp-EZ-Econ {
  background-color: @zp-ez-color;
}
.zp-EZ-Std {
  background-color: darken(spin(@zp-ez-color, -10),5%);
}
.zp-EZ-Komf {
  background-color: darken(spin(@zp-ez-color, -10),10%);
}
.zp-DZ-Econ {
  background-color: @zp-dz-color;
}
.zp-DZ-Komf {
  background-color: darken(spin(@zp-dz-color, -10), 10%);
}
.zp-SU {
  background-color: @zp-su-color;
}
.zp-SU-BK {
   background-color: darken(spin(@zp-su-color, -10), 10%);
 }
.tab-content-box {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;;
  border-top: 0px;
  padding: 5px;
  height: 715px;
  overflow-y: auto;
}